<%- include ("./includes/head.ejs") %>

<body class="home">
        <%- include('includes/header.ejs') -%>

    <main>
        

        <section class="caroussel">
            <h1>Profielen</h1>
            <ul>
                <%= profielen.forEach(function(profiel) { %>
                    <li>
                        <p><%= profielen.naam %></p>
                        <p><%= profielen.email %></p>
                        <p><%= profielen.leeftijd %></p>
                        <p><%= profielen.hobby %></p>
                        <p><%= profielen.omgeving %></p>  
                    </li>
             <% }) %>
            </ul>
        </section>
    </main>

    <footer>
        <button>X</button>
    </footer>
</body>
</html>
