<%- include ("./includes/head.ejs") %>

<body class="home">
        <%- include('includes/hamburgermenu.ejs') -%>

    <main>
        

        <section class="caroussel">
            <h1>Jouw matches</h1>
            <h2>swipe voor meer</h2>
            
                <ul>
                    <% profielen.forEach(function(profiel) { %>
                        <li>
                            <img src="images/<%= profiel.url %>" alt="Profielfoto">
                            <p><%= profiel.naam %>, <%= profiel.leeftijd %></p>
                            <p>Hobby: <%= profiel.hobby %></p>
                            <p>Omgeving: <%= profiel.omgeving %></p>  
                        </li>
                    <% }) %>
                </ul>
                
        </section>
    </main>

</body>
</html>

