<%- include ("./includes/head.ejs") %>

<body class="home">
    

    <main>
        

        <section class="caroussel">
            <h1>Jouw matches</h1>
            <h2>scroll voor meer</h2>
            
                <ul class="disabledJS">
                    <% profielen.forEach(function(profiel) { %>
                        <li>
                            <img src="images/<%= profiel.url %>" alt="Profielfoto">
                            <p><%= profiel.naam %>, <%= profiel.leeftijd %></p>
                            <p>Hobby: <%= profiel.hobby %></p>
                            <p>Omgeving: <%= profiel.omgeving %></p>  
                        </li>
                    <% }) %>
                </ul> 
        </section>

        <section class="button-container">
            <button id="back" disabled><</button>
            <button id="next" disabled>></button>
        </section>
    </main>

    <footer>
        <script src="/scripts/caroussel.js"></script>
    </footer>

</body>
</html>

